@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//variables
$accent_color:      #E65C43;
$secondary_color:   #fff;
$tertiary_color:    #666;
$greyback_color:    #F5F6F6;
$footerback_color:  #30353D;
$font_main:         'Roboto';

